--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.7.1+cu128
torchvision==0.22.1+cu128
torchaudio==2.7.1+cu128
  


jupyter
pandas
openpyxl
numpy
matplotlib
scikit-learn
seaborn
nltk
streamlit
plotly
joblib
# spacy[cuda12x]


pdfplumber
python-docx
textstat
transformers
wordcloud
plotly
PyPDF2